.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
}

.header-logo {
  margin-left: 1.5rem;
  height: 3rem;
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 1px 1px 0 #10b981, 2px 2px 0 #10b981, 3px 3px 0 #10b981,
    4px 4px 0 #10b981, 5px 5px 0 #10b981;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  margin-top: 1rem;
}
